<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static '/Css/acceuil.css' %}">
    <script src="{% static 'Js/acceuil.js' %}" defer></script>
    <title>Dashboard</title>
</head>

<body>
    <nav>
        <div class="logo">
            <div class="logo-image">
               <h1>Bienvenue {{user.username}}!</h1>
            </div>
        </div>

        <div class="menu-items">
            <ul class="navLinks">
                <li class="navList active" data-section="dashboard">
                    <a href="#">
                        <ion-icon name="home-outline"></ion-icon>
                        <span class="links">Fichiers</span>
                    </a>
                </li>
                <li class="navList" data-section="content">
                    <a href="#">
                        <ion-icon name="folder-outline"></ion-icon>
                        <span class="links">Content</span>
                    </a>
                </li>
                <li class="navList" data-section="analytics">
                    <a href="#">
                        <ion-icon name="analytics-outline"></ion-icon>
                        <span class="links">Analytics</span>
                    </a>
                </li>
                <li class="navList" data-section="likes">
                    <a href="#">
                        <ion-icon name="heart-outline"></ion-icon>
                        <span class="links">Likes</span>
                    </a>
                </li>
                <li class="navList" data-section="comments">
                    <a href="#">
                        <ion-icon name="chatbubbles-outline"></ion-icon>
                        <span class="links">Comments</span>
                    </a>
                </li>
            </ul>
            <ul class="bottom-link">
                <li class="navList" data-section="profile">
                    <a href="#">
                        <ion-icon name="person-circle-outline"></ion-icon>
                        <span class="links">Profile</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'deconnexion' %}">
                        <ion-icon name="log-out-outline"></ion-icon>
                        <span class="links">Logout</span>
                    </a>
                </li>
            </ul>
        </div>
    </nav>

    <section class="dashboard">
        <div class="container">
            <div id="content-area">
                <div id="dashboard" class="section">
                    <div class="title">
                        <ion-icon name="speedometer"></ion-icon>
                        <span class="text">Télecharger Un Fichier</span>
                    </div>
                    <div class="boxes">
                        <div class="box box1">
                            <ion-icon name="eye-outline"></ion-icon>
                            <span class="text">Total Views</span>
                            <span class="number">18345</span>
                        </div>
                        <div class="box box2">
                            <ion-icon name="people-outline"></ion-icon>
                            <span class="text">Active users</span>
                            <span class="number">2745</span>
                        </div>
                        <div class="box box3">
                            <ion-icon name="chatbubbles-outline"></ion-icon>
                            <span class="text">Total Activities</span>
                            <span class="number">1209</span>
                        </div>
                    </div>
                </div>

                <div id="content" class="section hidden">
                    <div class="title">
                        <ion-icon name="folder-outline"></ion-icon>
                        <span class="text">Content</span>
                    </div>

                    <div class="title">
                        <ion-icon name="folder-outline"></ion-icon>
                        <span class="text"></span>
                    </div>

                </div>
                <div id="analytics" class="section hidden">
                    <div class="title">
                        <ion-icon name="analytics-outline"></ion-icon>
                        <span class="text">Analytics</span>
                    </div>
                </div>
                <div id="likes" class="section hidden">
                    <div class="title">
                        <ion-icon name="heart-outline"></ion-icon>
                        <span class="text">Likes</span>
                    </div>
                </div>
                <div id="comments" class="section hidden">
                    <div class="title">
                        <ion-icon name="chatbubbles-outline"></ion-icon>
                        <span class="text">Comments</span>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const navItems = document.querySelectorAll(".navList");
            const sections = document.querySelectorAll(".section");
            const contentArea = document.getElementById("content-area");

            navItems.forEach(item => {
                item.addEventListener("click", function() {
                    navItems.forEach(i => i.classList.remove("active"));
                    this.classList.add("active");
                    
                    const sectionId = this.getAttribute("data-section");
                    sections.forEach(section => section.classList.add("hidden"));
                    document.getElementById(sectionId).classList.remove("hidden");
                });
            });
        });
    </script>

    <style>
        .hidden { display: none; }
    </style>
</body>
</html>
